@model JobSeek.Models.JobOffer
@{
    ViewData["Title"] = "Details";
}

<h2 class="text-dark">Job Description</h2>
<form asp-action=Details enctype="multipart/form-data" method="post">
    <div class="p-4 rounded border">
        <input type="hidden" name="id" value="@Model.Id" />
        <h1 class="display-4">@Model.Title</h1>
        <h4>@Model.CompanyName</h4>
        <h6>@ViewBag.JobType (@ViewBag.JobCat)</h6>
        <h6><i class="fa-solid fa-dollar-sign"></i>@Model.Wage</h6>
        <br />
        <h6 style="font-weight:300">Posted: @ViewBag.subDate</h6>
        <div class="form-group">
            <a type="button" asp-action="Apply" asp-route-id="@Model.Id" class="btn btn-primary">Apply</a>
        </div>
        <br />
        <hr />
        <p>@Model.Description</p>
    </div>
</form>
