@using JobSeek.Models;
@model IEnumerable<JobOffer>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
@*<div class="row">
        <div class="col-6">
            <h2 class="text-dark">Job Listings</h2>
        </div>
    </div>
    <br />
    <div>
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(expression: c => c.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.JobTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.JobCategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.Wage)
                </th>
                <th></th>
                <th></th>
                <th></th>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.JobType.JobTypes</td>
                    <td>@item.JobCategory.JobCategories</td>
                    <td>@item.Description</td>
                    <td>@item.Wage</td>
                    <td>
                        <partial name="_JobOfferButtonPartial" model="@item.Id" />
                    </td>
                </tr>
            }
            </table>
        </div>*@

<div class="row">
    <div class="col-6">
        <h2 class="text-dark">Job Listings</h2>
    </div>
</div>

@foreach (var item in Model)
{
    <br />

    <div class="card text-center">
        <div class="card-header">
            @item.JobType.JobTypes | @item.JobCategory.JobCategories
        </div>
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Description</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>@item.Wage</p>
            <partial name="_SearchButtonPartial" model="@item.Id" />
        </div>
        <div class="card-footer text-muted">
            @item.CompanyName | @item.Submitted
        </div>
    </div>
    <br />
}
