@using JobSeek.Models;
@model IEnumerable<Application>
@{
    ViewData["Title"] = "Candidates";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-dark">Candidates</h2>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(expression: c => c.JobOfferId)
            </th>
            <th>
                @Html.DisplayNameFor(expression: c => c.JobseekerId)
            </th>
            <th>
                Email
            </th>
            <th></th>
            <th></th>
            <th></th>

            @foreach (var application in Model)
            {
            <tr>
                <td>@application.JobOffer.Title</td>
                <td>@application.Jobseeker.FirstName @application.Jobseeker.LastName</td>
                <td>@application.Jobseeker.UserName</td>
                <td></td>
                <td>
                    <partial name="_ApplicationPartial" model="@application.Id" />
                </td>
            </tr>
        }
        </table>
</div>